<section class="curved">
    <div class="title">
        <h1> Detalle del Prestamo</h1>
    </div>
</section>

<div class="container">
    <mat-card class="card"> 
    <mat-card-title> Martillo </mat-card-title>
    <mat-card-content>
        
        <p> <strong>Categoria</strong> Herramientas</p>
        <p> <strong>Fecha de Prestamo</strong> 25/10/2021</p>
        <p> <strong>Persona</strong> Martin Giacosa</p>

    </mat-card-content>

    <mat-card-actions>
        <button routerLink="/listadoPrestamos" mat-raised-button>Volver</button>
    </mat-card-actions>
    </mat-card>
</div>