<section class="curved">
    <div class="title">
        <h1> Agregar Nuevo Prestamo</h1>
    </div>
</section>


<div class="container">
    <app-spinner *ngIf="loading"></app-spinner>
    <mat-card class="card">
        <mat-card-subtitle> Datos del prestamo</mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarPrestamo()">
            <mat-grid-list cols="2" rowHeight="80px">

                <mat-grid-tile [colspan] ="2">
                    Fecha del Prestamo
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Objeto Prestado</mat-label>
                        <input formControlName="objeto" autocomplete="off" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoria">
                            <mat-option value="1">Herramientas</mat-option>
                            <mat-option value="2">Ropa</mat-option>
                            <mat-option value="3">Libros</mat-option>
                            <mat-option value="4">Tupper</mat-option>
                            <mat-option value="5">Cd</mat-option>

                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile >
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" autocomplete="off" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input formControlName="apellido" autocomplete="off" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                

                <mat-grid-tile [colspan] ="2">
                    <button type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button>
                    <button routerLink="/listadoPrestamos" mat-raised-button>Volver</button>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>