

<div class="etiqueta">
    <h1 > Listado de Objetos prestados</h1>
</div>


<div class="container">
    <app-spinner *ngIf="loading" >   </app-spinner>

    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" autocomplete="off" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        
        <ng-container matColumnDef="cosa">
            <th mat-header-cell *matHeaderCellDef> Elemento </th>
            <td mat-cell *matCellDef="let element"> {{element.cosa}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaPrestamo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del Prestamo </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPrestamo}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>
                <button routerLink="/agregarPrestamo" class="agregar" mat-raised-button color="primary">Agregar</button>
            </th>
            <td mat-cell *matCellDef="let element">  
                <mat-icon routerLink="/verPrestamo/1" class="search" matTooltip="Ver" fontIcon="search"> </mat-icon>
                <mat-icon routerLink="/editarPrestamo/1" class="edit" matTooltip="Editar" fontIcon="edit"> </mat-icon>
                <mat-icon (click)="eliminarPrestamo('El prestamo fue eliminado con Exito')"  class="delete" matTooltip="Borrar" fontIcon="delete"> </mat-icon>
                <mat-icon (click)="eliminarPrestamo('Se registro la devolución con Exito')"class="devuelto" matTooltip="Registrar Devolucion" fontIcon="task_alt"> </mat-icon>
            </td>
        </ng-container>
        
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
    </mat-paginator>

</div>

